body {
  background-color: #43293A;  
}
.App-logo {
  height: 20vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #F8FC7A;
}